* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#top img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#bottom {
    margin: 0 auto;
    text-align: center;
    background-color: #737373;
    max-width: 100%;
}

#bottom img {
    max-width: 20%;
    border: 1em #444 solid;
    border-radius: 50%;
    margin: 5%;
}