@font-face {
    font-family: longzhu;
    src: url(../fonts/LongZhuTi-Regular-2.ttf);
  }
  
@font-face {
    font-family: maoken;
    src: url(../fonts/MaoKenShiJinHei-2.ttf);
  }
  
@font-face {
    font-family: simhei;
    src: url(../fonts/simhei.ttf);
  }

@font-face {
    font-family: zhousun;
    src: url(../fonts/ZhouZiSongTi7000Zi-2.otf);
  }




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f7ff;
    background-image: url("../images/bkg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.transparent-content {
    max-width: 800px;
    background-color: rgba(0, 119, 182, 0.7);
    margin: 0 auto;
    border-radius: 20px;
    display: grid;
    overflow: hidden;
}

#logo {
    max-width: 15%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #caf0f8; */
    padding: 2em 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    border-radius: 10000px;
    padding: 0.6em 0.8em;
    background-color: white;
    color: #003566;
    text-decoration: none;
    font-family: maoken;
    font-size: 1.5em;
    box-shadow: 2px 2px 10px white;
    text-shadow: 2px 2px 2px #bbb;
    /* width: 6em;
    text-align: center; */
}

nav a:hover {
    background-color: #0077b6;
    color: white;
    text-shadow: 0px 0px 5px #ddd;
}



/* set transparent background */
/* header, main {
    background-color: rgba(0, 119, 182, 0.4);
} */

main {
    display: grid;
    grid-template-columns: 1fr;
}

main img {
    max-width: 100%;
    /* border-radius: 20px; */
    margin: 0 auto;
    /* margin-top: .1em; */
    /* box-shadow: 0px 0px 6px white; */

}

main p {
    text-indent: 2em;
    max-width: 100%;
    margin: 0 auto;
    /* margin-bottom: 2em; */
    color: #f8f7ff;
    font-size: 150%;
    font-family: maoken;
    text-shadow: 2px 2px 4px #003566;
    padding: 1.25em;
}

.make-this-no-bottom-padding {
    padding-bottom: 0;
}

.blank-content {
    height: 10em;
}

.blank-space {
    height: 0.75em;
}

.link-button {
    margin: 0 auto;
    background-color: white;
    font-size: 4em;
    color: #003566;
    font-family: maoken;
    border-radius: 10000px;
    padding: 0.4em;
    margin: 1.1em 3em;
    text-decoration: none;
    text-align: center;
    text-shadow: 4px 4px 4px #999;
    box-shadow: 5px 5px 30px white;
}

.link-button:hover{
    background-color: #0077b6;
    color: white;
    text-shadow: 0px 0px 10px #ddd;
}

/* Page 1 Start */
.content-grid {
    display: grid;
}

.vertical-text-box {
    display: grid;
    grid-template-columns: 1fr;
}

.vertical-text {
    grid-row: 1/2;
    grid-column: 1/2;

}

.vertical-text p {
    padding: 1.35em;
    text-indent: 2em;
    padding-bottom: 0;
}

.vertical-text p:last-of-type {
    text-align: right;
    font-size: 1.25em;
    padding: 2em 1.62em;
}

.vertical-text a {
    text-decoration: none;
    color: white;
}

.vertical-text a:hover {
    text-decoration: underline;
}


#ellipse-no-padding-1, #ellipse-no-padding-2 {
    padding: 0 1.5em;
}

.vertical-image {
    grid-row: 1/2;
    grid-column: 1/2;
}

/* Page 1 End */

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #0077b6;
    border-radius: 20px;
    width: 800px;
    margin: 0 auto;
    border-radius: 20px;
}


.footer-link {
    margin: 1.2em 2.4em;
    grid-row: 1/3;
}



.footer-link a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: longzhu;
    font-size: 1.2em;
    margin: 0.6em;
    text-shadow: 2px 2px 2px #333;
}

.footer-link a:hover {
    text-decoration: underline;
}

.contact-title {
    color: white;
    font-family: longzhu;
    font-size: 2.5em;
    /* text-align: right; */
    align-self: self-end;
    /* margin-right: 1em; */
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 10px #222;
}

#contact-icon a {
    text-decoration: none;
}



#contact-icon img {
    border-radius: 14px;
    box-shadow: 1px 1px 10px white;
}


#let-qq-none-transparent {
    background-color: #f8f7ff;
}

