* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bkg.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    text-align: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #fbfbfb;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover{
    color: #1e90e2;
    background-color: #fbfbfb;
    border-radius: 100000000px;
}

#name {
    color: #023047;
    font-size: 3em;
}

#nanjing {
    width: 40%;
    border-radius: 20px;
}

main p {
    color: #023047
}